[submodule "arc-binutils-gdb"]
	path = arc-binutils-gdb
	url = git@github.com:foss-for-synopsys-dwc-arc-processors/binutils-gdb.git
	branch = binutils_glibc-dev
[submodule "arc-gcc"]
	path = arc-gcc
	url = git@github.com:foss-for-synopsys-dwc-arc-processors/gcc.git
	branch = arc-2016.09-release
[submodule "arc-glibc"]
	path = arc-glibc
	url = git@github.com:foss-for-synopsys-dwc-arc-processors/glibc.git
	branch = vineet-glibc-master
[submodule "arc-buildroot"]
	path = arc-buildroot
	url = git@github.com:foss-for-synopsys-dwc-arc-processors/buildroot.git
